sudo: required

language: java
jdk: oraclejdk8

services:
  - docker

jobs:
  include:
    - stage: Prepare
      script:
        - docker pull mysql
        - docker run -p 127.0.0.1:3306:3306 --name mysql-test-db -e MYSQL_ROOT_PASSWORD=root -e MYSQL_DATABASE=testdb -d mysql:latest

    - stage: Build
      script:
        - gradle check
        - gradle jacocoTestReport

after_success:
  - docker stop mysql-test-db
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email: false