sudo: required

language: java
jdk: oraclejdk8

notifications:
  email: false

services:
  - docker

jobs:
  include:
    - stage: Prepare
      script:
        - docker pull mysql
        - docker run -p 1234:3306 --name mysql-test-db -e MYSQL_ROOT_PASSWORD=root -e MYSQL_DATABASE=testdb -d mysql:latest
        - docker-machine ip

    - stage: Build
      script:
        - gradle check
        - gradle jacocoTestReport
        - docker stop mysql-test-db

    - stage: Report
      script:
        - bash <(curl -s https://codecov.io/bash)